/** @format */

.bottomFooter {
	padding: 2rem 1rem;
	background: $color-bottom-footer-bg;
	margin-top: auto;
	margin-bottom: 3.5rem;

	nav {
		display: flex;
		justify-content: center;
		gap: 2rem;
	}
}
