/** @format */
.bottomFooter {
	display: flex;
	flex-wrap: wrap;
	background: $color-bottom-footer-bg;
	padding: 2rem 1rem;
	padding-bottom: 6rem;
	&__nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		gap: 2rem 6rem;
		max-width: 1200px;
		margin: 0 auto;
	}

	&__group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		min-width: 200px;

		@media (max-width: 54rem) {
			width: 100%;
			align-items: center;
			&-links {
				display: flex;
				flex-direction: column;
				justify-content: left;
				gap: 0.5rem;
			}
		}
		&-links {
			display: flex;
			flex-direction: column;
			gap: 0.5rem !important;
		}
	}

	&__title {
		font-size: 1.1rem;
		font-weight: bold;
		margin-bottom: 0.5rem;
		color: $color-bottom-footer-title;
	}

	a {
		color: $color-bottom-footer-text;
		text-decoration: none;
		transition: color 0.3s ease;

		&:hover,
		&:focus {
			// color: $color-link;
			text-decoration: underline;
		}
	}
	&__social-link {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		span {
			color: $color-bottom-footer-text;
		}

		svg {
			width: 1.2rem;
			height: 1.2rem;
		}
	}
}
