/** @format */

.collapse {
	box-sizing: border-box;
	margin-bottom: 1rem;

	&__trigger {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		background: $color_collapse_bg-title;
		// border: 2px solid $color_collapse_border;
		border: none;
		color: $color_collapse_title;
		border-radius: 0.5rem;

		&[aria-expanded="true"] {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:hover {
			background: $color-link-hover;
		}
		&:focus-visible {
			border-radius: 0.5rem;
		}
	}
	&__title {
		font-size: 1.25rem;
		font-weight: 700;
		color: $color_collapse_title;
		margin: 0.5rem 1rem;
	}
	&__icon {
		color: $color_collapse_title;
	}
	&__content {
		display: block;
		width: inherit;
		box-sizing: border-box;
		text-align: left;
		padding: 1.5rem 1rem;
		border-top: none;
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
		background: $color_collapse_bg;
	}
}
