/** @format */

.portfolio__card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	max-width: 60rem;
	overflow: hidden;
	background: var(--color-section-odd-card-bg);
	border-color: var(--color-section-odd-card-bg);
	border-style: solid;
	box-sizing: 1px;
	border-radius: 0.5rem;
	box-shadow: 0 4px 6px rgba(var(--color-gray-dark), 0.1);
	transition: transform 0.3s ease;
	margin-bottom: 3rem;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -2px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;

	&:hover {
		transform: translateY(-2px);
		box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
			0 8px 10px -6px rgba(0, 0, 0, 0.1);
	}

	&-image {
		position: relative;
		width: 100%;
		height: auto;
		aspect-ratio: 1920/1300;
		overflow: hidden;
	}

	&-img {
		width: 100%;
		height: auto;
		max-height: 100%;
		object-fit: cover;
	}

	&-content {
		padding: 1.5rem;
		width: 100%;
		box-sizing: border-box;
	}

	&-title {
		margin-top: 0.75rem;
		margin-bottom: 1.125rem;
		font-size: 1.5rem;
		color: var(--color-section-title);
		@include word-wrap;
	}

	&-description {
		margin-bottom: 1.75rem;
		font-size: 0.9rem;
		@include word-wrap;
	}

	&-tags {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.5rem;
		margin-bottom: 1.5rem;
	}

	&-tag {
		background: var(--color-portfolio-tag-bg);
		color: var(--color-portfolio-tag-text);
		font-weight: 600;
		padding: 0.25rem 0.75rem;
		border-radius: 1rem;
		font-size: 0.8rem;
		@include word-wrap;
	}

	&-collapse {
		margin: auto;
		max-width: 53.8rem;
		width: 100%;
	}

	&-details {
		width: 100%;
		padding: 1rem;
		line-height: 1.6;
		color: var(--color-main-text);
		border-radius: 0 0 0.25rem 0.25rem;
		margin-top: -1rem;
		box-sizing: border-box;
		@include word-wrap;
	}

	&-links {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		margin-top: 1.125rem;
	}

	&-link {
		display: inline-flex;
		align-items: center;
		gap: 0.5rem;
		border-radius: 0.25rem;
		margin-bottom: -0.5rem;
		color: var(--color-link);

		@include word-wrap;
		&:hover {
			opacity: 1;
			color: var(--off-white);
		}
	}
}
