/** @format */

.scroll-progress-line {
	position: fixed;
	z-index: 99;
	transform-origin: top;
	transform: translateY(-50%);
	top: 24.2%;
	right: 0.125rem;
	height: 50vh;
	width: 0.125rem;
	background-color: $color-scroll-progress-line;
	@media screen and (max-height: 34rem) {
		display: none;
	}
}
.scroll-progress {
	position: fixed;
	z-index: 100;
	right: -12.7rem;
	top: 50%;
	display: flex;
	flex-direction: row-reverse;
	transform: rotate(-90deg);
	gap: 0 1rem;

	&__arrows {
		display: flex;
		height: fit-content;
		width: fit-content;
		transform: rotate(90deg);
		align-items: center;
		justify-content: center;
	}

	&__indicator {
		position: relative;
		display: flex;
		text-align: center;
		align-items: center;
		border-radius: 1rem;
		padding: 0.12rem 0.5rem;
		margin: 0;
		font-size: 0.75rem;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.0625rem;
		// transition: all 0.2s ease;
		white-space: nowrap;
		text-decoration: none;
		color: $color-scroll-progress-indicator !important;

		&[data-active="true"] {
			color: $color-main-bg !important;
			background-color: $color-scroll-progress-indicator-active;
		}
	}
	// @media screen and (min-width: 960px) {
	// 	right: -15.125rem;
	// 	&__arrows {
	// 		padding: 0.125rem 0.25rem;
	// 	}
	// 	&__indicator {
	// 		padding: 0.125rem 0.5rem;
	// 		font-size: 1rem;
	// 	}
	// }
	// @media screen and (max-height: 44rem) {
	// 	right: -12.7rem;
	// 	&__indicator {
	// 		font-size: 0.75rem;
	// 	}
	// }
	@media screen and (max-height: 40rem) {
		right: -10.2rem;
		&__arrows {
			height: 0.4rem;
			width: 0.4rem;
		}
		&__indicator {
			// display: flex;
			font-size: 0.5rem;
		}
	}
	@media screen and (max-height: 32rem) {
		display: none;
	}
}
