/** @format */

@mixin word-wrap {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
}

@mixin sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

@mixin focus-visible {
	&:focus-visible {
		background-color: var(--color-focus-bg);
		color: var(--color-focus-text) !important;
		outline: 2px solid var(--color-focus-outline) !important;
		box-shadow: 0 0 0 4px rgba(white, 0.75) !important;
		outline-offset: 2px;
		border-radius: 0.25rem;
		text-decoration: none !important;
		opacity: 1 !important;
	}
}

@mixin sticky-footer-link-states {
	&:hover {
		color: var(--color-link) !important;
		@extend %link-hover-base;
	}

	&:focus-visible {
		color: var(--color-link) !important;
		@extend %link-hover-base;
		box-shadow: none !important;
		outline-offset: 2px;
		opacity: 0.8 !important;
	}
}

// Pages : Legal, Accessibility, Privacy Policy, Terms
@mixin page-container {
	width: 100%;
	max-width: 60rem;
	margin: 0 auto;
	margin-top: -4rem;
	padding: 2rem;
	padding-top: 3rem;
	background: var(--color-main-bg);
}
@mixin page-title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 3rem;
	color: var(--color-pages-title);
	margin-bottom: 2rem;
	@include word-wrap;
}

@mixin page-update {
	font-style: italic;
	color: var(--color-main-text);
	margin-bottom: 2rem;
}

@mixin page-section {
	margin-bottom: 2rem;

	&-title {
		font-size: 2rem;
		color: var(--color-section-title);
		margin-bottom: 1rem;
	}

	&-content {
		font-size: 1rem;
		margin-bottom: 1rem;
		color: var(--color-main-text);
	}

	&-list {
		list-style: none;
		font-size: 1rem;
		margin-left: 1.5rem;
		margin-bottom: 1rem;
		li {
			position: relative;
			color: var(--color-main-text);

			&::before {
				content: "•";
				position: absolute;
				left: -1rem;
				color: var(--color-main-text);
			}
		}
	}
}

@mixin page-link {
	color: var(--color-link) !important;
	text-decoration: underline !important;

	&:hover,
	&:focus {
		color: var(--off-white) !important;
		text-decoration: none !important;
		padding: 0.05em 0.125em !important;
	}
}
// END | Pages : Legal, Accessibility, Privacy Policy, Terms
// // // // // // // // // // // // // // // // // // // // //
