/** @format */

.portfolio {
	@extend %section-base;
	background: var(--color-section-bg-odd);

	&--placeholder {
		@extend %section-placeholder;
	}

	&__container {
		@extend %section-container;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__title {
		@extend %section-title;
	}

	&__subtitle {
		@extend %section-subtitle;
		max-width: 50rem;
		margin: 0 auto 3rem;
	}
}
