/** @format */

.portfolio {
	padding: 2rem;
	padding-top: 1.5rem;
	padding-bottom: 2.5rem;
	background: var(--color-section-bg-odd);

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}

	&__title {
		text-align: center;
		margin-bottom: 2rem;
		color: var(--color-section-title);
	}

	&__subtitle {
		max-width: 800px;
		margin: 0 auto 3rem;
		text-align: center;
		line-height: 1.6;
	}
	&--placeholder {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
