/** @format */

.skills {
	// min-width: 100vh;
	padding: 2rem;
	padding-top: 1.5rem;
	padding-bottom: 2.5rem;
	background-color: $color_section_bg-even;

	&--placeholder {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__container {
		width: 100%;
		margin: 0 auto;
		@media screen and (min-width: 480px) {
			max-width: 90%;
		}
	}

	&__title {
		text-align: center;
		margin-bottom: 2rem;
		color: $color_section_title;
	}

	&__presentation {
		margin: 0 auto 3rem;
		text-align: center;
		line-height: 1.6;
	}

	&__subtitle {
		text-align: center;
		margin-bottom: 2rem;
		color: $color-section-title;
	}

	&__icons-container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		gap: 1.5rem;
		margin-bottom: 3rem;
	}

	&__icons-group {
		display: flex;
		justify-content: center;
		gap: 1.5rem;
		flex-wrap: wrap;
	}
	&__icon-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		height: 5rem;
		width: 5rem;
		padding: 1rem;
		border-radius: 4rem;
		background: $color_skills-icon_bg;
		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

		&.is-rotating {
			animation: rotate360 1.25s cubic-bezier(0.645, 0.045, 0.355, 1);
			animation-fill-mode: forwards;
		}
	}

	@keyframes rotate360 {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
	&__icon {
		width: 3rem;
		height: 3rem;
		// padding: 0.75rem;
		border-radius: 2.5rem;
		background: $color_skills-icon_bg;
		color: $color_skills-icon_text;
		transition: transform 0.2s ease;
	}

	&__icon-label {
		font-size: 0.875rem;
		font-weight: 600;
		// padding: 0.5rem;
		// border-radius: 0.25rem;
		// background: $color_skills-icon_bg;
		color: $color_skills-icon_text;
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
		gap: 2rem;
		margin-bottom: 3rem;
	}

	&__card {
		flex: 1 1 15rem;
		max-width: 100%;
		background: $color_section_card-bg;
		padding: 2rem;
		border-radius: 0.5rem;
		box-shadow: 0 4px 6px rgba($dark-gray, 0.1);

		&-title {
			color: $color-section-title;
			font-size: 1.5rem;
			margin-top: 1rem;
			margin-bottom: 1.5rem;
		}

		&-list {
			list-style: none;
			padding: 0;
		}

		&-item {
			margin-bottom: 1rem;
			padding-left: 1.5rem;
			position: relative;

			&::before {
				content: "•";
				position: absolute;
				left: 0;
			}
		}
	}

	&__closing {
		max-width: 800px;
		margin: 3rem auto 0;
		text-align: center;
		font-style: italic;
	}

	strong {
		font-weight: 600;
	}
}
