/** @format */

@import "../abstracts/base-palette";
@import "../abstracts/theme-utils";
@import "../themes/theme-variables";

@mixin high-contrast-theme-variables() {
	// D'abord appliquer les variables du thème light
	@include light-theme-variables();

	// Utiliser la transformation automatique avec les couleurs très contrastées
	@include transform-light-to-high-contrast(
		(
			"colors": (
				"background": #000000,
				// Noir pur
				"text": #ffff00,
				// Jaune vif
				"link": #00ffff,
				// Cyan vif
				"highlight": #bfff00,
				// Vert-jaune
				"action": #ffffff,
				// Blanc pur
				"success": #00ff00,
				// Vert pur
				"error": #ff0000,
			),
		)
	);
	// Surcharges manuelles après l'automatisation si nécessaire
	$color_header_bg: map-get($hc-palette, "highlight") !global;
	$color_header_text: #000000 !global;
	$color_header_text-role: #000000 !global;
	$color_header_blog-link_bg: #00ffff !global;
	$color_header_blog-link_text: #000000 !global;

	.skills__icon-wrapper {
		&.is-rotating {
			animation: none;
			animation-fill-mode: none;
		}
	}
}
