/** @format */

// POINTER //

//none
//Le mécanisme de saisie principal n'inclut pas de dispositif de pointage.

//coarse
//Le mécanisme de saisie principal inclut un dispositif de pointage dont la précision est limitée.

//fine
//Le mécanisme de saisie principal inclut un dispositif de pointage précis.

@media (pointer: coarse), (any-pointer: coarse) {
	:focus-visible {
		outline-width: 0.6rem !important;
	}
	.restaurants__heart-like {
		transform: scale(1.6);
		&:hover {
			transform: scale(2);
		}
	}
	.visual-identity__back-arrow a {
		transform: scale(1.6);
		&:hover {
			transform: scale(2);
		}
	}
}
