/** @format */

// POINTER //

//none
//The primary input mechanism does not include a pointing device.

//coarse
//The primary input mechanism includes a pointing device of limited accuracy.

//fine
//The primary input mechanism includes an accurate pointing device.

@media (pointer: coarse), (any-pointer: coarse) {
	:focus-visible {
		outline-width: 0.6rem !important;
	}
	.restaurants__heart-like {
		transform: scale(1.6);
		&:hover {
			transform: scale(2);
		}
	}
	.visual-identity__back-arrow a {
		transform: scale(1.6);
		&:hover {
			transform: scale(2);
		}
	}
}
